@charset "utf-8";
/**
 * 该模块说明..
 */

.p_index {
    position:absolute;top:0px;bottom:0px;left:0px;right:0px;


    .header {background: #51ACD4;color: #fff;text-align: center;}
    .header {background-image: url(/static/img/avator.png)}

    .list li {line-height: 90px;width: rem(500);background-color: #ccc; color: #615A5A; }
    .list li:active {background: #fff;}
    .list li:not(:last-child) {border-bottom: 1px solid #fff;}


    .tab {text-align: center;margin:5px 0;}
    .tab li {display: inline-block;padding:10px;    border: 1px solid #ccc;}
    .tab li.on {background: #ccc;color: #fff;}

}
