@charset "utf-8";
/**
 * 首页模块
 */

.p_index {
    position:absolute;top:0px;bottom:0px;left:0px;right:0px;

    // .list {height: 100%;overflow-y: auto;}
    .list li {line-height: rem(80); color: #615A5A; }
    .list li:active {background: #fff;}
    .list li:not(:last-child) {border-bottom: 1px solid #ccc;}

}
