@charset "utf-8";

// 火狐
$moz : false;

// opera
$opera : false;

// 弹出框
$dialog : true;

// 底部高度
$bottomHeight: 50px; // 100

// 页面宽度
$pageWidth: 750;

// 输入框高度
$inputHeight : 45px;

// 边框
$border : 1px solid #e2e2e2; //#e2e2e2;
$borderThin : 1px solid #EFEFEF; //#e3e3e3;

// 字体颜色
$fontColor : #666;
$fontColorBold : #272727;
$fontColorThin : #999;
$fontColorRed : #fc6667;

// 主体高亮绿色
$mainColor : #62c052; //#48b66f;
