@charset "utf-8";

// 常用模块
.m_top20 {margin-top: rem($blockJianju);}
.m_cred { color: $fontColorRed !important;}
.m_cgreen { color:$mainColor !important;}
.m_active_op_active {opacity: 0.7;}
.m_active_bgw_active {background-color: #ECECEC !important;}
.m_active_bgg_active {background-color: rgba(0, 0, 0, 0.26) !important;}

// 弹出提示
.m_tooltips {
    color: #E4E4E4; position: absolute; top: 0; left: 0; right:0; z-index: 2;

    .tooltip-text {
        word-break:break-all; margin-top:rem(20);
        background-color: rgba(0, 0, 0, 0.7); text-align: center; padding: rem(15) rem(30); border-radius: rem(10);
    }
    &.down {
        @include transform( translateY(-110%) );
        @include transition(all 0.2s ease-in-out);
        // @include boxalign(x);
        left:50%; right: auto;
        .tooltip-text {@include transform( translateX(-50%) );}
        &.on {@include transform( translateY(0%) );}
    }

    // 弹出提示 居中
    &.full {
        // background: rgba(0,0,0,0.5);
        // position: absolute;left: 0;right: 0;bottom: 0;top: 0;
        position: static;
        @include transition(all 0.2s ease-in-out); opacity: 0;
        .tooltip-text {font-size: 14px;}
        .tooltip-content{
            @include transalign(); display: table;z-index: 2;
            background: #606262;padding:7px 25px;line-height: 1.5;
            max-width:60%;margin: auto;color:#fff;border-radius: rem(10);text-align: center;
            vertical-align: middle;
        }
        &.on { opacity: 1; }
    }
}

/*上下拉*/
.m_topDom {
    text-align: center;color: #000;text-align:center;overflow: hidden;line-height: 45px;
	height:0px;@include transform( translateZ(0) ); @include transition( all 0.3s ease-in );
    &.on { height:45px; }
}
.m_downDom {
	text-align: center;color: #000;text-align:center; height:45px;line-height:45px;color:$fontColorThin;
	&_text {line-height:45px; display:inline-block;vertical-align: middle; }
    &_logo {
        @extend %iconfont; display: inline-block;vertical-align: middle; margin-right: 5px;
        &:before {content: "\e601";}
    }
	// &_logo {display:inline-block;margin-bottom: 6px;display:inline-block; background: url(images/loading.gif) center center no-repeat; width:60px;height:60px; background-size: 75px;    vertical-align: middle;  }
	&_loading {
        .m_downDom_logo {
            @include animation(rotate 1.25s forwards linear 0s infinite normal);
            // @include transformOrigin(5px 5px);
            &:before {content: "\e65d";}
        }
    }
	&_reload {
        .m_downDom_logo:before {content:"\e662";}
    }
}

// 蒙板
.m_mask {
    position: absolute;top:0;left:0;bottom:0;right:0;z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    display:none;  overflow: hidden;
    &.on {display:block;}
}

// 弹出框
@if $dialog {
    .m_boundingBox {
        // 基本
        &.m_boundingBoxCenter {
            display:none;overflow: hidden;
            &.on {
                // display:block;
                position:absolute;top:0;bottom:0;left:0;right:0;z-index: 3;
                @include boxalign();
                @include animation(dialoginter 0.2s forwards linear 0s 1 normal);
            }
            .m_boundingBox_inner {
                width:260px;background: #fff;border-radius: rem(16);color:$fontColorThin;overflow: hidden;
            }
            .header, .body {
                text-align: center; font-size:15px;
                margin:0 15px;color:rgb(39,39,39);
            }
            .header {padding:27px 10px;}
            .body {padding:0px 10px 20px;}
            .footer {
                text-align: center;
                @include box();
            }

            .btn {
                text-align: center; color: rgb(102,102,102); padding:0px;width: 0; line-height: 40px;height: 40px;font-size:16px;
                @include flex(1); @include box-sizing(border-box);border-top: $borderThin;border-right: $borderThin;
                // &:active, &.on {background: rgba(0, 0, 0, 0.16);}
                // @include transition(all 0.05s ease-in);
                &:last-child {border-right: none;}
                &.green {
                    color: #fff; background: #51c23e;border-color:#51c23e;
                    &.m_active_bgw_active {background-color: #31B51B !important;border-color:#31B51B;}
                }
            }

        }


        // 其他
        &.m_boundingBoxDown {
            position: absolute; bottom:0px;left:0px;right:0px;top: auto;z-index: 3;text-align: center;
            @include transition(all 0.3s ease);
            @include transform(translate3d(0,110%,0));
            .m_boundingBox_inner {background: #f4f5f9;}
            &.on {
                // display: block;
                @include transform(translate3d(0,0,0));
            }
            .header, .body {
                background: #fff;color: $fontColorRed;border-bottom: $border;height: 55px;line-height: 55px;    font-size: 14px;
            }
            .footer { }
            .btn {
                border-bottom: $border;line-height: 45px;background: #fff; font-size: 18px;
                &:last-child {border-bottom: none;}
                &.close {margin-top:10px;}
                &.disabled {
                    color: #ccc;
                    &.m_active_bgw_active {background: #fff !important;}
                }
                // &:active, &.on {background: #DADADA;}
            }
        }

    }
    @include keyframes(dialoginter) {
        0% {
            opacity: 0;@include transform(scale(1.4) translateZ(0));
        }
        100% {
            opacity: 1; @include transform(scale(1) translateZ(0));
        }
    }
}
