@charset "utf-8";


.m_tooltips {
  color: #E4E4E4; position: absolute; top: 20px; left: 0; right:0; z-index: 499;
  @include transform( translateY(-200%) );
  @include transition(all 0.3s ease-in-out);
  @include boxalign(x);
  .tooltip-text {
    max-width:80%;word-break:break-all;
    background-color: rgba(0, 0, 0, 0.7); text-align: center; padding: 15px 30px; border-radius: 10px;
  }
  .tooltip-text-error {background: #f75f5f;}
  &.on {@include transform( translateY(0%) );}
}


/*上下拉*/
.m_topDom {
	line-height:80px;height:0;overflow:hidden; -webkit-transition: all 0.4s ease-in; text-align:center;
	&.on {height:80px; }
}
.m_downDom {
	text-align: center;color: #000;text-align:center; height:60px;
	&__text {line-height:60px; display:inline-block;color:#A7A7A7; }
	&__logo {display:inline-block;margin-bottom: 6px;display:inline-block; background: url(images/loading.gif) center center no-repeat; width:60px;height:60px; background-size: 75px;    vertical-align: middle;  }
	&_loading {}
	&_reload {}
}

@if $dialog {
    .m_boundingBox {
      // 基本
      @include transalign(both);min-width:80%;
      overflow: hidden;
      background: #f1f2f4;border-radius: 10px;
      display:none;
      &.on {display:block;}
      .window_header {border-bottom: 1px solid #b2b2b2;padding: 0.3rem;}
      .window_body {min-height: 60px;}
      .window_boundingBox__list {
        height:600px;
        li {
          padding:20px 60px 20px 10px;border-bottom: 1px solid rgb(181, 181, 181);
          &:active {  background: rgba(0, 0, 0, 0.08);}
          &.on {  background: url(img/all.png) right -1944px no-repeat;}
        }
        dl {
          border-bottom: 1px solid #53B3B2;
          &.select_dl {
            dd { padding-right:60px; }
            &:last-child {border-bottom:none;}
          }
          &.select_more {
            background: url(img/all.png) right -2019px no-repeat;
            &:active {background-color:rgba(0,0,0,0.07);}
            dt {@include flex-box();  padding: 20px 0;}
            .tit {}
            .con {@include flex(1); text-align:right;padding-right:68px; }
          }
        }
        dt { color: #53B3B2; margin-top: 9px;}
        dd {
          padding:20px 20px 20px 10px;border-bottom: 1px solid rgb(181, 181, 181);
          &:last-child { border-bottom:none;}
          &.on {  background: url(img/all.png) right -1944px no-repeat;}
        }
        .input {  height: 70px;}

        .select_silde, .select_main {
          position:absolute;top:75px;bottom:74px;left:0;right:0;
          padding:  20px;
          @include overflowY();
          @include transition(all 0.3s ease-in);
        }
        .select_main {
          @include transform(translate(0,0%));
        }
        .select_silde {
          @include transform(translate(100%,0%));
        }
        &.on {
          .select_main {
            @include transform(translate(-100%,0%));
          }
          .select_silde {
            @include transform(translate(0%,0%));
          }
        }
      }
      .window_footer {
        @include flex-box();
      }

      .window_Btn {
        display: block;text-align: center;padding:0.3rem 0px;
        @include flex(1);
        border-right: 1px solid #b2b2b2;
        border-top: 1px solid #b2b2b2;
        &:last-child {border-right: none;}
        @include box-sizing(border-box);
        &:active, &.on {background: rgba(0, 0, 0, 0.16);}
        @include transition(all 0.05s ease-in);
        &.window_Btn_red { color: #F53E3E; }
        &.window_Btn_close {
          color:#333333;
        }
      }

      // 其他
      &.down {
        margin:10px;
        bottom:0px;left:0px;right:0px;display:block;top: auto;background:none;
        @include transition(all 0.3s ease-in);
        @include transform(translate(0,120%));
        &.on {
          @include transform(translate(0,0%));
        }
        .window_header {text-align: center;background: #f1f2f4;}
        .window_footer {
          @include flex-box(vertical);
        }
        .window_Btn {
          border-bottom: 1px solid #b2b2b2;
          border-top:none;
          border-right:none;
          background: #FDFEFF;
          &:active, &.on {background: #DADADA;}
        }
        .window_Btn_close {
          margin-top:0.05rem;
        }
      }

      .input_wrap {
          margin:0.07rem; border: 1px solid #ccc; height:0.3rem;
          input {border:none;width: 100%;height:100%;}
      }

    }
    .m_mask {
      position: absolute;top:0;left:0;bottom:0;right:0;
      background: rgba(0, 0, 0, 0.3);
      display:none;  overflow: hidden;
      &.on {display:block;}
    }
}
