@charset "UTF-8";
/*CSS reset*/
body {
  background-color: #FFF;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: normal;
  font-weight: normal; }

ol, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

input, select, textarea {
  font-size: inherit; }

/*特别通用模块*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0; }

.none {
  display: none !important; }

.hidden {
  visibility: hidden !important; }

.tl {
  text-align: left !important; }

.tc {
  text-align: center !important; }

.tr {
  text-align: right !important; }

.fr {
  float: right; }

.fl {
  float: left; }

/**
 * 首页模块
 */
.p_index {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .p_index .list li {
    line-height: 1.06667rem;
    color: #615A5A; }
  .p_index .list li:active {
    background: #fff; }
  .p_index .list li:not(:last-child) {
    border-bottom: 1px solid #ccc; }

.s_wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }

.s_page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  opacity: 0.5;
  transform: scale(0.95) translateZ(0);
  -webkit-transform: scale(0.95) translateZ(0); }
  .s_page .s_inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .s_page .s_inner_onmenu {
    bottom: 1.33333rem; }
  .s_page.out {
    display: none; }
  .s_page.in {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); }

@-webkit-keyframes pageinter {
  0% {
    opacity: 0.5;
    transform: scale(0.95) translateZ(0);
    -webkit-transform: scale(0.95) translateZ(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); } }

@keyframes pageinter {
  0% {
    opacity: 0.5;
    transform: scale(0.95) translateZ(0);
    -webkit-transform: scale(0.95) translateZ(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); } }

.s_header {
  height: 1.13333rem;
  line-height: 1.13333rem;
  color: #666666;
  text-align: center; }

.s_menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 1.28rem;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc; }
  .s_menu li {
    float: left;
    color: #cccccc;
    width: 2.66667rem;
    text-align: center; }
    .s_menu li i {
      display: block;
      font-size: 0.53333rem;
      margin-top: 0.13333rem; }
    .s_menu li span {
      font-size: 0.8em; }
    .s_menu li.on {
      color: #020202; }
  .s_menu_num {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    background: #ccc;
    bottom: 0.29333rem;
    right: 0.26667rem;
    border-radius: 100%; }

.m_loading {
  z-index: 499;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 0.13333rem;
  padding: 0.4rem 0.6rem;
  background: rgba(71, 70, 70, 0.87);
  display: none; }
  .m_loading .loading__img {
    animation: rotate 2.5s forwards linear 0s infinite normal;
    -webkit-animation: rotate 2.5s forwards linear 0s infinite normal;
    margin: 0.26667rem auto 0;
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 0.08rem;
    box-shadow: 0 -0.26667rem 0 0.02667rem #fff, 0.26667rem 0 #fff, 0 0.26667rem #fff, -0.26667rem 0 #fff, -0.18667rem -0.18667rem 0 0.01333rem #fff, 0.18667rem -0.18667rem 0 0.04rem #fff, 0.18667rem 0.18667rem #fff, -0.18667rem 0.18667rem #fff;
    -webkit-box-shadow: 0 -0.26667rem 0 0.02667rem #fff, 0.26667rem 0 #fff, 0 0.26667rem #fff, -0.26667rem 0 #fff, -0.18667rem -0.18667rem 0 0.01333rem #fff, 0.18667rem -0.18667rem 0 0.04rem #fff, 0.18667rem 0.18667rem #fff, -0.18667rem 0.18667rem #fff;
    /* left-bottom */ }
  .m_loading .loading__mess {
    margin-top: 0.46667rem;
    color: #fff; }
  .m_loading.on {
    display: block; }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) translateZ(0);
    -webkit-transform: rotate(0deg) translateZ(0); }
  100% {
    transform: rotate(360deg) translateZ(0);
    -webkit-transform: rotate(360deg) translateZ(0); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateZ(0);
    -webkit-transform: rotate(0deg) translateZ(0); }
  100% {
    transform: rotate(360deg) translateZ(0);
    -webkit-transform: rotate(360deg) translateZ(0); } }
