@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("/static/iconfont/iconfont.eot");
  /* IE9*/
  src: url("/static/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/iconfont/iconfont.woff") format("woff"), url("/static/iconfont/iconfont.ttf") format("truetype"), url("/static/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

[class^=icon-] {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e617"; }

.icon-home:before {
  content: "\e602"; }

.m_box {
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal; }

.m_box_v {
  display: box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical; }

.m_flex1 {
  box-flex: 1;
  -webkit-box-flex: 1; }

.m_over {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.m_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.m_tooltips {
  color: #E4E4E4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 499;
  transform: translateY(-110%);
  -webkit-transform: translateY(-110%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .m_tooltips .tooltip-text {
    max-width: 80%;
    word-break: break-all;
    margin-top: 0.26667rem;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.13333rem; }
  .m_tooltips.on {
    transform: translateY(0%);
    -webkit-transform: translateY(0%); }

/*上下拉*/
.m_topDom {
  text-align: center;
  color: #000;
  text-align: center;
  overflow: hidden;
  height: 0px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in; }
  .m_topDom.on {
    height: 1.2rem; }

.m_downDom {
  text-align: center;
  color: #000;
  text-align: center;
  height: 60px; }
  .m_downDom_text {
    line-height: 0.8rem;
    display: inline-block;
    color: #A7A7A7; }

.m_mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden; }
  .m_mask.on {
    display: block; }

.m_boundingBox {
  width: 80%;
  overflow: hidden;
  background: #fff;
  border-radius: 0.21333rem;
  margin: 5.33333rem auto 0;
  display: none; }
  .m_boundingBox.on {
    display: block;
    animation: dialoginter 0.2s forwards linear 0s 1 normal;
    -webkit-animation: dialoginter 0.2s forwards linear 0s 1 normal; }
  .m_boundingBox .header {
    border-bottom: 2px solid #F0F0F0;
    padding: 0.3rem; }
  .m_boundingBox .body {
    min-height: 60px; }
  .m_boundingBox .footer {
    display: box;
    display: -webkit-box;
    box-orient: horizontal;
    -webkit-box-orient: horizontal; }
  .m_boundingBox .btn {
    display: block;
    text-align: center;
    line-height: 1.2rem;
    color: #0ae;
    box-flex: 1;
    -webkit-box-flex: 1;
    border-right: 2px solid #F0F0F0;
    border-top: 2px solid #F0F0F0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in; }
    .m_boundingBox .btn:last-child {
      border-right: none; }
    .m_boundingBox .btn:active, .m_boundingBox .btn.on {
      background: rgba(0, 0, 0, 0.16); }
    .m_boundingBox .btn.red {
      color: #F53E3E; }
    .m_boundingBox .btn.close {
      color: #333333; }
  .m_boundingBox.down {
    margin: 0.13333rem;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
    top: auto;
    background: none;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transform: translate(0, 120%);
    -webkit-transform: translate(0, 120%); }
    .m_boundingBox.down.on {
      transform: translate(0, 0%);
      -webkit-transform: translate(0, 0%);
      animation: none;
      -webkit-animation: none; }
    .m_boundingBox.down .header {
      text-align: center;
      background: #f1f2f4; }
    .m_boundingBox.down .footer {
      display: box;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical; }
    .m_boundingBox.down .btn {
      border-bottom: 1px solid #b2b2b2;
      border-top: none;
      border-right: none;
      background: #FDFEFF; }
      .m_boundingBox.down .btn:active, .m_boundingBox.down .btn.on {
        background: #DADADA; }
      .m_boundingBox.down .btn.close {
        margin-top: 0.05rem; }

@-webkit-keyframes dialoginter {
  0% {
    opacity: 0;
    transform: scale(1.4) translateZ(0);
    -webkit-transform: scale(1.4) translateZ(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); } }

@keyframes dialoginter {
  0% {
    opacity: 0;
    transform: scale(1.4) translateZ(0);
    -webkit-transform: scale(1.4) translateZ(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); } }
