@charset "UTF-8";
.m_box {
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal; }

.m_box_v {
  display: box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical; }

.m_flex1 {
  box-flex: 1;
  -webkit-box-flex: 1; }

.m_over {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.m_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.m_tooltips {
  color: #E4E4E4;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 499;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .m_tooltips .tooltip-text {
    max-width: 80%;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px; }
  .m_tooltips .tooltip-text-error {
    background: #f75f5f; }
  .m_tooltips.on {
    transform: translateY(0%);
    -webkit-transform: translateY(0%); }

/*上下拉*/
.m_topDom {
  line-height: 80px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in;
  text-align: center; }
  .m_topDom.on {
    height: 80px; }

.m_downDom {
  text-align: center;
  color: #000;
  text-align: center;
  height: 60px; }
  .m_downDom__text {
    line-height: 60px;
    display: inline-block;
    color: #A7A7A7; }
  .m_downDom__logo {
    display: inline-block;
    margin-bottom: 6px;
    display: inline-block;
    background: url(images/loading.gif) center center no-repeat;
    width: 60px;
    height: 60px;
    background-size: 75px;
    vertical-align: middle; }

.m_boundingBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 80%;
  overflow: hidden;
  background: #f1f2f4;
  border-radius: 10px;
  display: none; }
  .m_boundingBox.on {
    display: block; }
  .m_boundingBox .window_header {
    border-bottom: 1px solid #b2b2b2;
    padding: 0.3rem; }
  .m_boundingBox .window_body {
    min-height: 60px; }
  .m_boundingBox .window_boundingBox__list {
    height: 600px; }
    .m_boundingBox .window_boundingBox__list li {
      padding: 20px 60px 20px 10px;
      border-bottom: 1px solid #b5b5b5; }
      .m_boundingBox .window_boundingBox__list li:active {
        background: rgba(0, 0, 0, 0.08); }
      .m_boundingBox .window_boundingBox__list li.on {
        background: url(img/all.png) right -1944px no-repeat; }
    .m_boundingBox .window_boundingBox__list dl {
      border-bottom: 1px solid #53B3B2; }
      .m_boundingBox .window_boundingBox__list dl.select_dl dd {
        padding-right: 60px; }
      .m_boundingBox .window_boundingBox__list dl.select_dl:last-child {
        border-bottom: none; }
      .m_boundingBox .window_boundingBox__list dl.select_more {
        background: url(img/all.png) right -2019px no-repeat; }
        .m_boundingBox .window_boundingBox__list dl.select_more:active {
          background-color: rgba(0, 0, 0, 0.07); }
        .m_boundingBox .window_boundingBox__list dl.select_more dt {
          display: box;
          display: -webkit-box;
          box-orient: horizontal;
          -webkit-box-orient: horizontal;
          padding: 20px 0; }
        .m_boundingBox .window_boundingBox__list dl.select_more .con {
          box-flex: 1;
          -webkit-box-flex: 1;
          text-align: right;
          padding-right: 68px; }
    .m_boundingBox .window_boundingBox__list dt {
      color: #53B3B2;
      margin-top: 9px; }
    .m_boundingBox .window_boundingBox__list dd {
      padding: 20px 20px 20px 10px;
      border-bottom: 1px solid #b5b5b5; }
      .m_boundingBox .window_boundingBox__list dd:last-child {
        border-bottom: none; }
      .m_boundingBox .window_boundingBox__list dd.on {
        background: url(img/all.png) right -1944px no-repeat; }
    .m_boundingBox .window_boundingBox__list .input {
      height: 70px; }
    .m_boundingBox .window_boundingBox__list .select_silde, .m_boundingBox .window_boundingBox__list .select_main {
      position: absolute;
      top: 75px;
      bottom: 74px;
      left: 0;
      right: 0;
      padding: 20px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in; }
    .m_boundingBox .window_boundingBox__list .select_main {
      transform: translate(0, 0%);
      -webkit-transform: translate(0, 0%); }
    .m_boundingBox .window_boundingBox__list .select_silde {
      transform: translate(100%, 0%);
      -webkit-transform: translate(100%, 0%); }
    .m_boundingBox .window_boundingBox__list.on .select_main {
      transform: translate(-100%, 0%);
      -webkit-transform: translate(-100%, 0%); }
    .m_boundingBox .window_boundingBox__list.on .select_silde {
      transform: translate(0%, 0%);
      -webkit-transform: translate(0%, 0%); }
  .m_boundingBox .window_footer {
    display: box;
    display: -webkit-box;
    box-orient: horizontal;
    -webkit-box-orient: horizontal; }
  .m_boundingBox .window_Btn {
    display: block;
    text-align: center;
    padding: 0.3rem 0px;
    box-flex: 1;
    -webkit-box-flex: 1;
    border-right: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.05s ease-in;
    -webkit-transition: all 0.05s ease-in; }
    .m_boundingBox .window_Btn:last-child {
      border-right: none; }
    .m_boundingBox .window_Btn:active, .m_boundingBox .window_Btn.on {
      background: rgba(0, 0, 0, 0.16); }
    .m_boundingBox .window_Btn.window_Btn_red {
      color: #F53E3E; }
    .m_boundingBox .window_Btn.window_Btn_close {
      color: #333333; }
  .m_boundingBox.down {
    margin: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
    top: auto;
    background: none;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transform: translate(0, 120%);
    -webkit-transform: translate(0, 120%); }
    .m_boundingBox.down.on {
      transform: translate(0, 0%);
      -webkit-transform: translate(0, 0%); }
    .m_boundingBox.down .window_header {
      text-align: center;
      background: #f1f2f4; }
    .m_boundingBox.down .window_footer {
      display: box;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical; }
    .m_boundingBox.down .window_Btn {
      border-bottom: 1px solid #b2b2b2;
      border-top: none;
      border-right: none;
      background: #FDFEFF; }
      .m_boundingBox.down .window_Btn:active, .m_boundingBox.down .window_Btn.on {
        background: #DADADA; }
    .m_boundingBox.down .window_Btn_close {
      margin-top: 0.05rem; }
  .m_boundingBox .input_wrap {
    margin: 0.07rem;
    border: 1px solid #ccc;
    height: 0.3rem; }
    .m_boundingBox .input_wrap input {
      border: none;
      width: 100%;
      height: 100%; }

.m_mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden; }
  .m_mask.on {
    display: block; }

/**
 * 该模块说明..
 */
.p_index {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .p_index .header {
    background: #51ACD4;
    color: #fff;
    text-align: center; }
  .p_index .header {
    background-image: url(/static/img/avator.png); }
  .p_index .list li {
    line-height: 90px;
    width: 6.66667rem;
    background-color: #ccc;
    color: #615A5A; }
  .p_index .list li:active {
    background: #fff; }
  .p_index .list li:not(:last-child) {
    border-bottom: 1px solid #fff; }
  .p_index .tab {
    text-align: center;
    margin: 5px 0; }
  .p_index .tab li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc; }
  .p_index .tab li.on {
    background: #ccc;
    color: #fff; }
