@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("/static/iconfont/iconfont.eot");
  /* IE9*/
  src: url("/static/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/iconfont/iconfont.woff") format("woff"), url("/static/iconfont/iconfont.ttf") format("truetype"), url("/static/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

[class^=icon-], .m_downDom_logo {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e617"; }

.icon-home:before {
  content: "\e602"; }

.m_top20 {
  margin-top: 0.26667rem; }

.m_cred {
  color: #fc6667 !important; }

.m_cgreen {
  color: #62c052 !important; }

.m_active_op_active {
  opacity: 0.7; }

.m_active_bgw_active {
  background-color: #ECECEC !important; }

.m_active_bgg_active {
  background-color: rgba(0, 0, 0, 0.26) !important; }

.m_tooltips {
  color: #E4E4E4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .m_tooltips .tooltip-text {
    word-break: break-all;
    margin-top: 0.26667rem;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.13333rem; }
  .m_tooltips.down {
    transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    left: 50%;
    right: auto; }
    .m_tooltips.down .tooltip-text {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    .m_tooltips.down.on {
      transform: translateY(0%);
      -webkit-transform: translateY(0%); }
  .m_tooltips.full {
    position: static;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    opacity: 0; }
    .m_tooltips.full .tooltip-text {
      font-size: 14px; }
    .m_tooltips.full .tooltip-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      display: table;
      z-index: 2;
      background: #606262;
      padding: 7px 25px;
      line-height: 1.5;
      max-width: 60%;
      margin: auto;
      color: #fff;
      border-radius: 0.13333rem;
      text-align: center;
      vertical-align: middle; }
    .m_tooltips.full.on {
      opacity: 1; }

/*上下拉*/
.m_topDom {
  text-align: center;
  color: #000;
  text-align: center;
  overflow: hidden;
  line-height: 45px;
  height: 0px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in; }
  .m_topDom.on {
    height: 45px; }

.m_downDom {
  text-align: center;
  color: #000;
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: #999; }
  .m_downDom_text {
    line-height: 45px;
    display: inline-block;
    vertical-align: middle; }
  .m_downDom_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
    .m_downDom_logo:before {
      content: "\e601"; }
  .m_downDom_loading .m_downDom_logo {
    animation: rotate 1.25s forwards linear 0s infinite normal;
    -webkit-animation: rotate 1.25s forwards linear 0s infinite normal; }
    .m_downDom_loading .m_downDom_logo:before {
      content: "\e65d"; }
  .m_downDom_reload .m_downDom_logo:before {
    content: "\e662"; }

.m_mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden; }
  .m_mask.on {
    display: block; }

.m_boundingBox.m_boundingBoxCenter {
  display: none;
  overflow: hidden; }
  .m_boundingBox.m_boundingBoxCenter.on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    animation: dialoginter 0.2s forwards linear 0s 1 normal;
    -webkit-animation: dialoginter 0.2s forwards linear 0s 1 normal; }
  .m_boundingBox.m_boundingBoxCenter .m_boundingBox_inner {
    width: 260px;
    background: #fff;
    border-radius: 0.21333rem;
    color: #999;
    overflow: hidden; }
  .m_boundingBox.m_boundingBoxCenter .header, .m_boundingBox.m_boundingBoxCenter .body {
    text-align: center;
    font-size: 15px;
    margin: 0 15px;
    color: #272727; }
  .m_boundingBox.m_boundingBoxCenter .header {
    padding: 27px 10px; }
  .m_boundingBox.m_boundingBoxCenter .body {
    padding: 0px 10px 20px; }
  .m_boundingBox.m_boundingBoxCenter .footer {
    text-align: center;
    display: box;
    display: -webkit-box;
    box-orient: horizontal;
    -webkit-box-orient: horizontal; }
  .m_boundingBox.m_boundingBoxCenter .btn {
    text-align: center;
    color: #666666;
    padding: 0px;
    width: 0;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF; }
    .m_boundingBox.m_boundingBoxCenter .btn:last-child {
      border-right: none; }
    .m_boundingBox.m_boundingBoxCenter .btn.green {
      color: #fff;
      background: #51c23e;
      border-color: #51c23e; }
      .m_boundingBox.m_boundingBoxCenter .btn.green.m_active_bgw_active {
        background-color: #31B51B !important;
        border-color: #31B51B; }

.m_boundingBox.m_boundingBoxDown {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: auto;
  z-index: 3;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform: translate3d(0, 110%, 0);
  -webkit-transform: translate3d(0, 110%, 0); }
  .m_boundingBox.m_boundingBoxDown .m_boundingBox_inner {
    background: #f4f5f9; }
  .m_boundingBox.m_boundingBoxDown.on {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  .m_boundingBox.m_boundingBoxDown .header, .m_boundingBox.m_boundingBoxDown .body {
    background: #fff;
    color: #fc6667;
    border-bottom: 1px solid #e2e2e2;
    height: 55px;
    line-height: 55px;
    font-size: 14px; }
  .m_boundingBox.m_boundingBoxDown .btn {
    border-bottom: 1px solid #e2e2e2;
    line-height: 45px;
    background: #fff;
    font-size: 18px; }
    .m_boundingBox.m_boundingBoxDown .btn:last-child {
      border-bottom: none; }
    .m_boundingBox.m_boundingBoxDown .btn.close {
      margin-top: 10px; }
    .m_boundingBox.m_boundingBoxDown .btn.disabled {
      color: #ccc; }
      .m_boundingBox.m_boundingBoxDown .btn.disabled.m_active_bgw_active {
        background: #fff !important; }

@-webkit-keyframes dialoginter {
  0% {
    opacity: 0;
    transform: scale(1.4) translateZ(0);
    -webkit-transform: scale(1.4) translateZ(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); } }

@keyframes dialoginter {
  0% {
    opacity: 0;
    transform: scale(1.4) translateZ(0);
    -webkit-transform: scale(1.4) translateZ(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0); } }
